.grid{
    display: flex;
    flex-wrap: wrap;
    max-width:1600px;
    margin:auto;
}
.grid.m_>*{
    width:31.1%;
    margin:1%
}

.grid.s_>*{
    width:23%;
    margin:1%
}

@media screen 
and (max-width: 870px) {
    .grid.s_>*{
        width:31.1%;
        margin:1.1%
    }
    .grid.m_>*{
        width:46%;
        margin:1%
    }
    
}
@media screen 
and (max-width: 700px) {
    .grid.s_>*{
        width:46%;
        margin:1%
    }
    .grid.m_>*{
        width:98%;
        margin:1%
    }
    
}
@media screen 
and (max-width: 500px) {
    .grid>*{
        width:98%!important;
        margin:1%!important;
    }
}